.markerContainer {
  position: "absolute";
  background-color: white;
  width: fit-content;
  padding: 0.4rem;
  z-index: 10;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #1975d2, white) border-box;
  border-radius: 50%;
  border: 3px solid transparent;

  &:hover {
    z-index: 2;
    cursor: pointer;
    opacity: 0.9;
  }
}
