.markerContainer {
  position: "absolute";
  background-color: white;
  width: fit-content;
  padding: 0.4rem;
  z-index: 10;
  background: linear-gradient(white, white) padding-box,
    linear-gradient(45deg, #1975d2, white) border-box;
  border-radius: 50%;
  border: 3px solid transparent;
  transition: transform 1s;

  &:hover {
    z-index: 2;
    cursor: pointer;
    opacity: 0.9;
    transform: translateY(-0.3rem);
    transition: transform 1s;
    background: linear-gradient(45deg, white, #5d8bf4) padding-box,
      linear-gradient(45deg, #1975d2, white) border-box;
  }
}

.bounce {
  animation: bounce1 1.5s linear infinite;
  position: "absolute";
  background-color: white;
  width: fit-content;
  padding: 0.4rem;
  z-index: 10;
  background: linear-gradient(45deg, white, #5d8bf4) padding-box,
    linear-gradient(45deg, #1975d2, white) border-box;
  border-radius: 50%;
  border: 3px solid transparent;
  transform: translateY(-1rem);
  transition: transform 1s;
}

@keyframes bounce1 {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
